*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Comfortaa', cursive;
}

/* ------------------------------ linear Gradient ------------------------------ */

body{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, #041d3d, rgb(218, 186, 186), crimson);
  -webkit-background-clip: text;
}

section{
  position: relative;  
  height: 450px;
  width: 1075px;
  display: flex;
  align-items: center;
}

.swiper{
  width: 950px;
}

.swiper-button-next, .swiper-button-prev{
  opacity: 0.7;
  color: #7d2ae8;
  transition: all 0.3s ease;
}

.swiper-button-next:hover, .swiper-button-prev:hover{
  opacity: 1;
  color: #7d2ae8;
}

.card .btn{
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.card .btn button{
  background: #7d2ae8;
  outline: none;
  border: none;
  color: #fff;
  padding: 8px 22px;
  border-radius: 20px;
  font-size: 14px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.btn button:hover{
  background: #19bc0a;
}

.wrapper{
  height: 400px;
  width: 320px;
  position: relative;
  transform-style: preserve-3d;
	perspective: 1000px;
}

.wrapper .card{
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 5px;
  background: #fff;
  border-radius: 10px;
  transform: translateY(0deg);
  backface-visibility: hidden;
  transform-style: preserve-3d;
  box-shadow: 0px 10px 15px rgba(0,0,0,0.1);
  transition: transform 0.7s cubic-bezier(0.4,0.2,0.2,1);
}

.wrapper:hover > .front-face{
  transform: rotateY(-180deg);
}

.wrapper .card img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.wrapper .back-face{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  transform: rotateY(180deg);
}

.wrapper:hover > .back-face{
  transform: rotateY(0deg);
}

/* ------------------------------ Linear Gradient ------------------------------ */

.wrapper .back-face img{
  height: 150px;
  width: 150px;
  padding: 5px;
  border-radius: 50%;
  background: linear-gradient(375deg, #1cc7d0, #2ede98);
}

.wrapper .back-face .info{
  text-align: center;
}

/* ------------------------------ Product Name with Linear Gradient ------------------------------ */

.back-face .info .title{
  font-size: 30px;
  font-weight: 500;
  background: linear-gradient(135deg, #0a52af, rgb(47, 45, 45), crimson);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.back-face ul{
  display: flex;
}

/* ------------------------------ Linear Gradient ------------------------------ */

.back-face ul a{
  display: block;
  height: 40px;
  width: 40px;
  color: #fff;
  text-align: center;
  margin: 0 5px;
  line-height: 38px;
  border: 2px solid transparent;
  border-radius: 50%;
  background: linear-gradient(375deg, #1cc7d0, #2ede98);
  transition: all 0.5s ease;
}

/* ------------------------------ Linear Gradient ------------------------------ */

.back-face ul a:hover{
  color: #1cc7d0;
  border-color: #1cc7d0;
  background: linear-gradient(375deg, transparent, transparent);
}